{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Book N Joy{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}Welcome to Book N Joy! We are your go-to destination for a delightful reading experience. At Book N Joy, we offer a vast collection of books catering to all genres, ensuring that there's something for every book lover out there.

    Our mission is to bring the joy of reading right to your doorstep. With our convenient book delivery service, you can easily order your favorite books from the comfort of your home. Whether you're a fan of thrilling mysteries, captivating novels, inspiring biographies, or informative non-fiction, we have it all.
    
    Browse through our extensive selection and explore the fascinating world of literature. Discover new authors, immerse yourself in gripping narratives, or delve into topics that pique your curiosity. With Book N Joy, the possibilities are endless, and the joy of reading is just a click away.
    
    We take pride in our commitment to customer satisfaction. Our team works diligently to ensure prompt and reliable delivery, allowing you to embark on captivating literary journeys without any hassle. Simply place your order, and we'll take care of the rest.
    
    Join our community of book enthusiasts and experience the joy of reading with Book N Joy. Embrace the power of words, broaden your horizons, and indulge in the magic that only a good book can offer. Start your reading adventure today!
    
    Book N Joy - Where books come to life, and reading brings joy.{% endblock %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <style>
        body {
          background-image: url('{% static "assets/blue_backgrnd.jpg" %}');
        }
        .alert-wrapper{
 
          padding: 0px 170px !important;
        }
        @media (max-width: 767px) {
          .alert-wrapper{
              padding: 0px 30px !important;
            }
        }
      </style>
  </head>
  <body>
    <div class="container-fluid mt-2">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand ps-3" href="#">Book N Joy</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'aboutUs' %}">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'contactUs' %}">Contact Us</a>
                  </li>
                </ul>
                <form class="d-flex" role="search" method="GET" action="{% url 'home' %}">
                  <input class="form-control me-2 no-focus-border" type="search" placeholder="Search Books" aria-label="Search" name ='search'>
                  <button class="searchButton" type="submit"><i class="material-icons">search</i></button>
                </form>
              </div>
            </div>
          </nav>

          <div class="alert-wrapper">
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show " style="top: 70px;display: flex;flex-direction: row;justify-content: space-between;padding: 6px 25px;" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding: 0;margin: 0;background: transparent;border: none;">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              {% endfor %}
            {% endif %}
          </div>

          <div class="container container-scrollable">
            <!-- /flip-card-container -->
            {% for object in book_objects %}
                <div class="flip-card-container" style="--hue: 220">
                    <div class="flip-card">
                        <div class="card-front">
                            <figure>
                            <!-- <div class="img-bg"></div> -->
                            <img src="{{ object.image.url }}" alt="Brohm Lake">
                            <figcaption id="{{ object.book_name }}">{{ object.book_name }}</figcaption>
                            </figure>
                        </div>
                        <div class="card-back">
                            <figure>
                            <div class="img-bg"></div>
                            <img src="{% static 'assets/book-im.avif' %}" alt="Brohm Lake">
                            </figure>
                            <p>{{ object.description }}</p>
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="setEmailFieldValue('{{ object.book_name }}')">Order</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="top: 40px;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Please Enter contact details</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="recipient-book" class="col-form-label">Book Name:</label>
                            <input name='book' type="text" class="form-control" id="recipient-Book" readonly>
                          </div>
                        <div class="mb-3">
                          <label for="recipient-email" class="col-form-label" >Email:</label>
                          <input name='email' type="text" class="form-control" id="recipient-email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-phone" class="col-form-label"  >Contact Number:</label>
                            <input name='phone' type="number" class="form-control" id="recipient-phone" required>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-address" class="col-form-label" >Adress:</label>
                            <input name='address' type="text" class="form-control" id="recipient-address" required>
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Message:</label>
                          <textarea name='message' class="form-control" id="message-text" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type='submit' type="button" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                  </div>
                </div>
              </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        const exampleModal = document.getElementById('exampleModal')
// if (exampleModal) {
//   exampleModal.addEventListener('show.bs.modal', event => {
//     // Button that triggered the modal
//     const button = event.relatedTarget
//     // Extract info from data-bs-* attributes
//     const recipient = button.getAttribute('data-bs-whatever')
//     // If necessary, you could initiate an Ajax request here
//     // and then do the updating in a callback.

//     // Update the modal's content.
//     const modalTitle = exampleModal.querySelector('.modal-title')
//     const modalBodyInput = exampleModal.querySelector('.modal-body input')

//     modalTitle.textContent = `New message to ${recipient}`
//     modalBodyInput.value = recipient
//   })
// }
function setEmailFieldValue(cardId) {
  var flipCardTitle = document.getElementById(cardId).innerText;
  document.getElementById("recipient-Book").value = flipCardTitle;
}
    setTimeout(function(){
                $('.alert').alert('close');
            }, 3000);
    </script>
  </body>
</html>